.prodact-section {
  background: url(../img/bg-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  /* padding: 80px 0; */
}

.prodact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.prodact__item {
  border: 1px solid #b9b9b981;
  padding: 25rem 3.5rem 6rem 3.5rem;
}

.prodact__content {
  transition: all 0.4s;
  /* margin-bottom: 40px; */
}

.prodact__item:hover .prodact__content {
  transform: translateY(-5rem);
}

.prodact__img {
}

.prodact__heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}

.prodact .p-text {
  color: #fff;
}

.prodact__details {
  display: flex;
  align-items: center;
  grid-column-gap: 4rem;
  transform: translateY(5rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.details__btn {
  color: #fff;
}

.prodact__arrow {
}

.prodact__arrow {
  height: 2rem;
  width: 10rem;
  display: none;
}

.prodact__item:hover .prodact__details {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
